.inputRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%
}

.inputRowElement {
  flex: 1;
  max-width: 30px;
  padding: 8px;
  font-size: 1rem;
  box-sizing: border-box;
}

.matches {
  width: 100%;
  height: 65%;
  margin-top: 10px;
}

.matchList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.matchItem {
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 15px;
  padding: 8px 16px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.noMatch {
  font-style: italic;
  color: #666;
}