.colorLayout {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.colorBox {
  margin: 5px;
  padding: 8px 12px;
  border: 2px solid #444;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  flex: 1 1 calc(15% - 10px);
  max-width: calc(15% - 10px);
  transition: 0.2s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}

.circle-wrapper {
  position: relative;
  width: 240px; /* enough for 2 halves + gap */
  height: 120px;
  margin: 30px auto 0; /* center horizontally and add top margin */
}

.half-circle {
  position: absolute;
  top: 50%;
  width: 100px;
  height: 100px;
  transform-origin: center bottom;
}

.half-circle.left {
  left: 0;
  transform: translateY(-50%);
}

.half-circle.right {
  right: 0;
  transform: translateY(-50%);
}

.choice {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: black;
  transform-origin: center center;
}